.item {
    width: 20rem;
    margin-bottom: 50px;
    background-color: #000000;
    overflow: hidden;
    position: relative;
    padding-bottom: 60px;
    border-radius: 9px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.1);
}
.item img {
    padding: 1rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.item h2 {
    margin: 20px;
    color: #ffffff;
    font-size: 1.1rem;
    min-height: 3rem;
    width: 100%;
    padding: 0 10px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.delete-icon {
    color: black;
    float: right;
    position: relative;
    top: -1.875rem;
    transition: color, transform, 500ms ease;
}
.delete-icon:hover {
    color: red;
    transform: scale(1.5);
}
.mini {
    font-size: 0.5rem;
    color: #924b4b;
    font-weight: 600;
}